<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.arpnetwork.arpdevice">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.CheckDeviceActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.wallet.WalletImporterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.HomeActivity" />
        <activity
            android:name=".ui.mywallet.MyWalletActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.miner.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.miner.MinerListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.miner.BindMinerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.order.details.MyEarningActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.order.details.ExchangeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.unlock.UnlockActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.order.receive.ReceiveOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".monitor.ExchangeDialogActivity"
            android:label=""
            android:theme="@style/Dialog" />

        <service
            android:name=".ui.miner.BindMinerIntentService"
            android:exported="false" />
        <service
            android:name=".monitor.MonitorService"
            android:exported="false" />

        <receiver android:name=".monitor.PowerConnectionReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <service android:name="org.fourthline.cling.android.AndroidUpnpServiceImpl" />

        <meta-data
            android:name="AA_DB_NAME"
            android:value="arpdevice.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
        <meta-data
            android:name="AA_MODELS"
            android:value="org.arpnetwork.arpdevice.database.EarningRecord, org.arpnetwork.arpdevice.database.InstalledApp, org.arpnetwork.arpdevice.database.TransactionRecord" />
    </application>

</manifest>